<!DOCTYPE html>
<html>
    <head>
        <title>Profile Info Page</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <header>
            <h1 class="header-title">Edit Info</h1>
        </header>
        <main>
            <div class="wrapper">
                <div id="formContent" class="edit-info">

                    <form method="POST" action="">
                        {{ with .Error }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <div class="form-group row">
                            <label for="fullname" class="col-sm-2 col-form-label">Full Name</label>
                            <div class="col-sm-10">
                                <input type="text" name="full_name" class="form-control-plaintext" id="full_name" value="{{ .FullName }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="address" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" name="address" class="form-control-plaintext" id="address" value="{{ .Address }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="telephone" class="col-sm-2 col-form-label">Telephone</label>
                            <div class="col-sm-10">
                                <input type="text" name="phone_number" class="form-control-plaintext" id="telephone" value="{{ .PhoneNumber }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                {{ if .IsGoogleUser }}
                                    <input type="text" name="email" class="form-control-plaintext" id="email" value="{{ .Email }}" tabindex="-1" style="pointer-events: none;">
                                {{ end }}
                                {{ if not .IsGoogleUser }}
                                    <input type="text" name="email" class="form-control-plaintext" id="email" value="{{ .Email }}">
                                {{ end }}
                            </div>
                        </div>

                        <div class="actions">
                            <input type="submit" class=" fourth" value="Save & Continue" onclick="editInfo()">
                            <input type="button" class=" fourth" value="Cancel" onclick="goToProfile()">
                        </div>

                    </form>


                    <!-- Remind Passowrd -->
                    <!--<div id="formFooter" class="fadeInDown fourth">-->
                        <!--<a class="underlineHover" href="./pages/signup.html">Save</a>-->
                        <!--<span>|</span>-->
                        <!--<a class="underlineHover" href="./pages/forgot.html">Forgot Password?</a>-->
                    <!--</div>-->

                </div>
            </div>
        </main>

        <script>
            function goToProfile() {
                location.href = "./profile";
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
