<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/styles.css">
        <title>SignUp Page</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1 class="header-title">Forgot Password</h1>
        </header>
        <main>
            <div class="wrapper">
                <div id="formContent">
                    <!-- Login Form -->
                    <form method="POST" id="form">
                        {{ with .Error }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <input type="text" id="email" class=" second" name="email" placeholder="email">
                        <input type="submit" class=" fourth" value="Send Reset Link" onclick="sendLink()">
                        <input type="button" class=" fourth" value="Back to Login" onclick="goToLogin()">
                    </form>

                    <div id="formFooter" class="hidden">
                        <h4>Link successfully sent!</h4>
                        <input type="button" class=" fourth" value="Back to Login" onclick="goToLogin()">
                    </div>

                </div>
            </div>
        </main>

        <script>

            function goToLogin() {
                location.href = "./login";
            }

            function sendLink() {
            }


        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
