<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/styles.css">
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="242166325847-1b2c1bphkgi2nji92v848irbhdusas6a.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
    <body>
        <header>
            <h1 class="header-title">Login</h1>
        </header>
        <main>
            <div class="wrapper fadeInDown">
                <div id="formContent" class="login">

                    <!-- Login Form -->
                    <form method="POST">
                        {{ with .Error }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <input type="text" id="email" class="fadeIn second" name="email" placeholder="username" value="{{ .Email }}">
                        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" value="{{ .Password }}">
                        <input type="submit" class="fadeIn fourth" value="Log In">
                    </form>
                    <h3>- OR -</h3>
                    <a href="{{ .GoogleAuthUrl }}" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>

                    <!-- Remind Passowrd -->
                    <div id="formFooter" class="fadeInDown fourth">
                        <a class="underlineHover" href="./signup">New User Sign up</a>
                        <span>|</span>
                        <a class="underlineHover" href="./forgot-password">Forgot Password?</a>
                    </div>

                </div>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
