<!DOCTYPE html>
<html>
    <head>
        <title>Profile Info Page</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <header>
            <h1 class="header-title">Profile</h1>
        </header>
        <main class="main-profile">

            <div class="card ">
                <div class="card-body">
                    <div class="details card-text">
                        <div class="name">Name: <span id="name">{{ .FullName }}</span></div>
                        <div class="address">Address: <span id="address">{{ .Address }}</span></div>
                        <div class="telephone">Telephone: <span id="telephone">{{ .PhoneNumber }}</span></div>
                        <div class="email">Email: <span id="email">{{ .Email }}</span></div>
                    </div>

                    <div class="actions">
                        <input type="button" class="fourth" value="Edit" onclick="editInfo()">
                        <input type="submit" class="fourth" value="Logout" onclick="logout()">
                        <form style="display: none" action="/logout" method="POST" id="form">
                        </form>

                    </div>
                </div>
            </div>
        </main>

        <script>
            function editInfo() {
                location.href = "./edit-profile";
            }

            function logout() {
                $("#form").submit();
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
