<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/styles.css">
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
        <title>SignUp Page</title>
        <meta charset="UTF-8">
        <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
    </head>
    <body>
        <header>
            <h1 class="header-title">Reset Password</h1>
        </header>
        <main>
            <div class="wrapper">
                <div id="formContent">

                    <!-- Login Form -->
                    <form method="POST">
                        {{ with .Error }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <input type="password" id="password" class=" second" name="password" placeholder="Password">
                        <input type="password" id="confirm_password" class=" second" name="confirm_password" placeholder="Confirm Password">
                        <input type="submit" class=" fourth" value="Reset Password">
                    </form>
                </div>
            </div>
        </main>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
